nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    height: 50px;
    margin: -0.6%;
    
}
.logo img{
    width: 200px;
}

ul{
    display: flex;
    list-style-type: none;
}

li{
    margin-left: 20px;
}
p{
  text-align: center;
}
.social-login ul {
    list-style-type: none;
    margin: 30px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
.social-login ul li {
    flex: 1 auto;
  }
.social-login ul li a {
    background-color: purple;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height:30%;
    padding: 15px;
    color: #e6e6e6;
    font-weight: bold;
    text-decoration: none;
    transition: background-color .3s;
  }
  .social-login ul li a::before {
    content: '';
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    margin-right: 5px;
  }
  .social-login ul li a:hover {
    
    color: #0e090e;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  li.google {
    margin-right: 10px;
  }
  li.google a::before {
    background-image: url(google.jpg);
  }
  li.fb {
    margin-left: 10px;
  }
  li.fb a::before {
    margin: 0;
    background-image: url(facebook.png);
  }
.flex{
    display: flex;
    justify-content: space-between;
}
h1{
    text-align: center;
}
.container {
    height: 80vh;
    margin: 0 auto;
    position: relative;
    
}
.form-1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



